@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Questrial&display=swap");
body {
  color: #333333;
  background-color: #f4fbfb;
  font-family: "Noto Sans TC", sans-serif;
}

@media screen and (max-width: 767px) {
  body.no-header .main {
    padding-top: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

a:hover {
  color: #2b8b9b;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #333333;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

.header {
  height: 95px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 50;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  width: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo > img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  border-radius: 100px;
  padding: 8px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul > li {
  position: relative;
  cursor: pointer;
}

.header__nav > ul > li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #d4d4d4;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__nav > ul > li:last-child::after {
  display: none;
}

.header__nav > ul > li:hover > a {
  color: #3796a0 !important;
}

.header__nav > ul > li.has-child {
  position: relative;
}

.header__nav > ul > li.has-child > a {
  position: relative;
}

.header__nav > ul > li.has-child > a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/chevron-down.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__nav > ul > li.has-child .header-child-list {
  position: absolute;
  min-width: 150px;
  right: 0;
  top: 100%;
  padding-top: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul > li.has-child .header-child-list ul {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

.header__nav > ul > li.has-child .header-child-list ul a {
  font-size: 15px;
  padding: 4px 0;
}

.header__nav > ul > li.has-child:hover .header-child-list {
  opacity: 1;
  visibility: visible;
}

.header__nav > ul > li > a {
  padding: 12px 20px;
  position: relative;
}

.header__nav > ul > li > a::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 3px;
  border-radius: 3px;
  background-color: #f8ae00;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.header__nav > ul > li > a.active {
  color: #58a2ae;
  font-weight: 700;
}

.header__nav > ul > li > a.active::after {
  opacity: 1;
}

.header.scrolldown {
  height: 66px;
  max-width: 1320px;
  width: calc(100% - 40px);
  background-color: #ffffff;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  top: 16px;
}

.header.scrolldown .container {
  padding-left: 40px;
  padding-right: 40px;
}

.header.scrolldown .header__logo {
  width: 50px;
}

.header.scrolldown .header__nav {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .header .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 575px) {
  .header__nav {
    padding: 0 12px;
    -webkit-box-shadow: 0 5px 6px rgba(55, 150, 160, 0.1);
            box-shadow: 0 5px 6px rgba(55, 150, 160, 0.1);
  }
  .header__nav > ul > li > a {
    padding: 12px 16px;
    font-size: 14px;
  }
  .header.scrolldown .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main {
  padding-top: 95px;
  min-height: calc(100vh - 45px);
}

.main--project-inner {
  padding-top: 0;
}

.select {
  padding: 0 44px 0 20px;
  background-color: #eaf3f5;
  border-radius: 100px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 16px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  height: 47px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #f8ae00;
  position: relative;
}

.checkbox::before, .checkbox::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox::before {
  background-image: url(../img/check.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
}

.checkbox::after {
  background-color: #ffffff;
  border: 1px solid #f8ae00;
  z-index: 1;
}

.checkbox:checked::before {
  opacity: 1;
}

.checkbox:checked::after {
  background-color: #f8ae00;
}

.btn {
  border-radius: 100px;
  padding: 12px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: 1px solid transparent;
}

.btn > span {
  font-size: 16px;
}

.btn > span::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn > span span {
  display: inline;
}

.btn > p {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.btn-alert {
  border-color: #c62828;
}

.btn-alert span::before {
  color: #c62828;
}

.btn-alert p {
  color: #c62828;
}

.btn-alert:hover {
  background-color: #c62828;
}

.btn-alert:hover span::before {
  color: #ffffff;
}

.btn-alert:hover p {
  color: #ffffff;
}

.btn-bg-yellow {
  background-color: #f8ae00;
}

.btn-bg-yellow span::before {
  color: #ffffff;
}

.btn-bg-yellow p {
  color: #ffffff;
}

.btn-bg-yellow:hover {
  border-color: #f8ae00;
  background-color: #ffffff;
}

.btn-bg-yellow:hover span::before {
  color: #f8ae00;
}

.btn-bg-yellow:hover p {
  color: #f8ae00;
}

.btn-bg-primary {
  background-color: #3796a0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-primary span::before {
  color: #ffffff;
}

.btn-bg-primary p {
  color: #ffffff;
}

.btn-bg-primary:hover {
  border-color: #3796a0;
  background-color: #ffffff;
}

.btn-bg-primary:hover span::before {
  color: #3796a0;
}

.btn-bg-primary:hover p {
  color: #3796a0;
}

.btn-primary-only-text {
  padding: 12px 24px 10px;
  color: #ffffff;
  background-color: #3796a0;
}

.btn-primary-only-text:hover {
  border-color: #3796a0;
  color: #3796a0;
  background-color: #ffffff;
}

.btn-sm {
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid #3796a0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #3796a0;
}

.btn-sm:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-upload {
  position: relative;
}

.btn-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn-bg-lightblue-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #ddeff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-lightblue-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-bg-lightblue-only-icon span::before {
  color: #1b8e9a;
}

.btn-bg-lightblue-only-icon:hover {
  background-color: #3796a0;
}

.btn-bg-lightblue-only-icon:hover span::before {
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .btn-bg-lightblue-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-bg-lightblue-only-icon span {
    font-size: 20px;
  }
}

.btn-bg-primary-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-primary-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-bg-primary-only-icon span::before {
  color: #ffffff;
}

.btn-bg-primary-only-icon:hover {
  background-color: #ffffff;
  border-color: #3796a0;
}

.btn-bg-primary-only-icon:hover span::before {
  color: #3796a0;
}

@media screen and (max-width: 575px) {
  .btn-bg-primary-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-bg-primary-only-icon span {
    font-size: 20px;
  }
}

.btn-border-primary-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  border-color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-border-primary-only-icon span::before {
  color: #3796a0;
}

.btn-border-primary-only-icon:hover {
  background-color: #3796a0;
  border-color: #ffffff;
}

.btn-border-primary-only-icon:hover span::before {
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .btn-border-primary-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-border-primary-only-icon span {
    font-size: 20px;
  }
}

.btn-bg-yellow-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #f8ae00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-yellow-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-bg-yellow-only-icon span::before {
  color: #ffffff;
}

.btn-bg-yellow-only-icon:hover {
  background-color: #ffffff;
  border-color: #f8ae00;
}

.btn-bg-yellow-only-icon:hover span::before {
  color: #f8ae00;
}

@media screen and (max-width: 575px) {
  .btn-bg-yellow-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-bg-yellow-only-icon span {
    font-size: 20px;
  }
}

.btn-bg-yellow-only-text {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #f8ae00;
  color: #ffffff;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-yellow-only-text:hover {
  background-color: #ffffff;
  border-color: #f8ae00;
  color: #f8ae00;
}

.btn-bg-primary-only-text {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-primary-only-text:hover {
  background-color: #ffffff;
  border-color: #3796a0;
  color: #3796a0;
}

.btn-bg-primary-fill {
  width: 100%;
  padding: 12px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-primary-fill:hover {
  border-color: #3796a0;
  background-color: transparent;
  color: #3796a0;
}

.btn-border-primary-fill {
  width: 100%;
  padding: 12px;
  border-radius: 100px;
  border-color: #3796a0;
  color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary-fill:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-border-primary-only-text {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #ffffff;
  color: #3796a0;
  border-color: #3796a0;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-border-primary-only-text:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-bg-primary-big {
  width: 250px;
  padding: 12px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-primary-big:hover {
  border-color: #3796a0;
  background-color: transparent;
  color: #3796a0;
}

.btn-border-primary-big {
  width: 250px;
  padding: 12px;
  border-radius: 100px;
  border-color: #3796a0;
  color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary-big:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-border-primary {
  border-color: #3796a0;
  color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-border-primary:hover span::before {
  color: #ffffff;
}

.btn-border-primary:hover p {
  color: #ffffff;
}

.btn-nobuffer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}

.btn-nobuffer span {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-nobuffer span::before {
  color: #528c92;
}

.btn-nobuffer p {
  font-size: 14px;
  color: #528c92;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-nobuffer:hover span::before {
  color: #f8ae00;
}

.btn-nobuffer:hover p {
  color: #f8ae00;
}

@media screen and (max-width: 575px) {
  .btn {
    padding: 10px 16px;
  }
  .btn span {
    font-size: 15px;
  }
  .btn p {
    font-size: 15px;
  }
  .btn-sm {
    padding: 4px 10px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #afccd1;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Questrial", sans-serif;
}

.pagination a:hover {
  background-color: #afccd1;
  color: #ffffff;
}

.pagination a.active {
  background-color: #3796a0;
  border-color: #3796a0;
  color: #ffffff;
}

.pagination__arrow span {
  font-size: 16px;
}

.pagination__arrow span::before {
  color: #3796a0;
}

.pagination__arrow:hover {
  background-color: #afccd1;
}

.pagination__arrow:hover span::before {
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .pagination {
    gap: 10px;
  }
  .pagination a {
    width: 36px;
    height: 36px;
  }
}

.footer {
  width: 100%;
  padding: 12px;
  background-color: #3796a0;
}

.footer p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-dialog.modal-sm {
  max-width: 370px;
}

.modal-dialog.modal-lg {
  max-width: 920px;
}

.modal-dialog-scrollable {
  margin-top: 50px;
}

.modal-dialog-scrollable .modal-body {
  height: calc(100vh - 48px - 64px - 80px - 20px);
}

.modal-content {
  border: 0;
  border-radius: 24px;
  padding: 24px 40px;
}

.modal-body {
  padding: 0 0 36px;
  text-align: center;
}

.modal-body p {
  margin: 0;
}

.modal-body.create-project {
  padding: 16px 32px;
  border-radius: 24px 24px 0 0;
  background-color: #f4fbfb;
}

.modal-footer {
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  gap: 20px;
}

.modal-footer button {
  margin: 0;
}

.modal-footer.create-project {
  padding: 8px 32px 24px;
  border-radius: 0 0 24px 24px;
  background-color: #f4fbfb;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 16px;
  border: 0;
}

.modal-title {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .modal-content {
    padding: 24px;
  }
  .modal-title {
    font-size: 28px;
  }
  .modal-body.create-project {
    padding: 20px 16px;
  }
  .modal-footer.create-project {
    padding: 16px;
  }
  .modal-dialog {
    margin-top: 50px;
  }
  .modal-dialog-scrollable .modal-body {
    height: calc(100vh - 100px - 48px - 75px - 78px);
  }
}

.inner-title {
  padding: 12px 0;
}

.inner-title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.inner-title .container h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #00393f;
}

.input-item {
  padding: 12px 20px;
  border-radius: 16px;
  background-color: #eaf3f5;
}

.input-item label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #00393f;
}

.input-item input,
.input-item select {
  width: 100%;
  padding: 0;
}

.input-item input::-webkit-input-placeholder,
.input-item select::-webkit-input-placeholder {
  color: #bdcdd0;
}

.input-item input:-ms-input-placeholder,
.input-item select:-ms-input-placeholder {
  color: #bdcdd0;
}

.input-item input::-ms-input-placeholder,
.input-item select::-ms-input-placeholder {
  color: #bdcdd0;
}

.input-item input::placeholder,
.input-item select::placeholder {
  color: #bdcdd0;
}

.input-item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.input-item.verify .verify__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-item.verify .verify__input button {
  padding: 8px 16px;
  background-color: #58a2ae;
  color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
}

.input-item.verify .verify__input button:hover {
  background-color: #f8ae00;
}

.input-item.verify .verify__input input {
  width: calc(100% - 102px);
}

@media screen and (max-width: 991px) {
  .input-item {
    padding: 8px 16px;
    border-radius: 12px;
  }
}

.term {
  color: #4c4c4c;
}

.term p {
  line-height: 1.8;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .term p {
    font-size: 15px;
  }
}

.enter-container {
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 32px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  margin: 0 auto 150px;
  width: calc(100% - 40px);
}

.enter-container--sm {
  max-width: 540px;
}

.enter-container--lg {
  max-width: 840px;
}

.enter-container__logo {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
}

.enter-container h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
}

@media screen and (max-width: 575px) {
  .enter-container {
    padding: 30px 20px;
  }
  .enter-container__logo {
    width: 80px;
    margin-bottom: 12px;
  }
  .enter-container h1 {
    font-size: 28px;
  }
}

.notify {
  margin: 50px auto 0;
}

.notify img {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.notify p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
}

.notify .btn {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .notify img {
    width: 200px;
  }
  .notify p {
    font-size: 16px;
  }
}

.sidebar {
  position: fixed;
  background-color: #ffffff;
  max-width: 570px;
  -webkit-box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: -4px 0 20px rgba(0, 0, 0, 0.1);
  height: 100%;
  top: 0;
  z-index: 60;
  padding: 24px;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidebar.active {
  opacity: 1;
}

.sidebar--ai {
  right: -570px;
}

.sidebar--ai .sidebar-content {
  overflow: visible;
  position: relative;
}

.sidebar--ai .ai-chat {
  height: calc(100vh - 65px - 80px - 24px - 32px);
  overflow-y: auto;
}

.sidebar--ai.active {
  right: 0;
}

.sidebar--catagory {
  left: -570px;
}

.sidebar--catagory.active {
  left: 0;
}

.sidebar-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid #afccd1;
}

.sidebar-head__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.sidebar-head__title h1 {
  margin: 0;
  color: #00393f;
  font-size: 28px;
  font-weight: 700;
}

.sidebar-content {
  padding: 32px 0 0;
  height: calc(100vh - 105px);
  overflow-y: auto;
}

@media screen and (max-width: 767px) {
  .sidebar {
    padding: 20px;
  }
}

.ui-datepicker-title {
  white-space: normal;
}

.project-list {
  padding-top: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 120px;
}

.project-list__btns {
  padding: 12px 20px;
}

.project-list__main {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
}

.project-list__title, .project-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  border-radius: 20px;
  gap: 16px;
}

.project-list__title .check, .project-list__content .check {
  width: 20px;
}

.project-list__title .check .checkbox, .project-list__content .check .checkbox {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.project-list__title .create-date,
.project-list__title .update-time, .project-list__content .create-date,
.project-list__content .update-time {
  width: 150px;
}

.project-list__title .project-name, .project-list__content .project-name {
  width: calc(100% - 20px - 300px - 130px - 64px);
}

.project-list__title .function, .project-list__content .function {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list__title p, .project-list__content p {
  margin: 0;
}

.project-list__title p span, .project-list__content p span {
  display: none;
}

.project-list__title {
  background-color: #3796a0;
  color: #ffffff;
  font-weight: 700;
}

.project-list__content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

.project-detail .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.project-detail__head {
  padding-top: 16px;
  padding-bottom: 32px;
  background-color: #f4fbfb;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}

.project-detail__head input {
  width: calc(100% - 60px - 48px - 98px - 98px);
  font-size: 22px;
  color: #00393f;
  font-weight: 500;
}

.project-detail__func {
  padding: 12px 0;
  background-color: #f4fbfb;
  position: fixed;
  left: 0;
  top: 96px;
  width: 100%;
  z-index: 5;
}

.project-detail__func .toolbar {
  width: calc(100% - 20px - 48px);
  background-color: #eaf3f5;
  border-radius: 24px;
  border: 0;
  min-height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8px 40px;
  row-gap: 8px;
  -webkit-column-gap: 16px;
          column-gap: 16px;
}

.project-detail__func .toolbar button {
  padding: 0;
  width: 24px;
  height: 24px;
}

.project-detail__func .toolbar .ql-picker-label {
  padding: 0;
}

.project-detail__func .toolbar svg {
  width: 24px !important;
  height: 24px !important;
}

.project-detail__func .toolbar img {
  width: 24px;
}

.project-detail__func .toolbar .ql-fill,
.project-detail__func .toolbar .ql-stroke.ql-fill {
  fill: #0c6e7f !important;
}

.project-detail__func .toolbar .ql-stroke {
  stroke: #0c6e7f;
}

.project-detail__func .toolbar .ql-font svg,
.project-detail__func .toolbar .ql-size svg {
  margin-top: -12px !important;
}

.project-detail__func .btn-menu {
  display: none;
}

.project-detail__func-btn {
  display: none;
}

.project-detail__content {
  padding-top: 185px;
  padding-bottom: 40px;
}

.project-detail__content .editor {
  max-width: 720px;
  width: calc(100% - 40px);
  border-radius: 24px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  margin: 0 auto;
  min-height: calc(100vh - 279px);
  padding: 20px;
  font-size: 16px;
  border: 0;
}

.project-detail__main {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-detail__main.ai-open {
  width: calc(100% - 570px);
}

.project-detail__main.ai-open .project-detail__head, .project-detail__main.ai-open .project-detail__func {
  width: calc(100% - 570px);
}

.project-detail__main.ai-open .btn-top {
  left: 20px;
  right: inherit;
}

.project-detail__main.ai-open .btn-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.project-detail__main.ai-open .toolbar {
  width: calc(100% - 40px - 96px);
}

.project-detail__main .btn-top {
  position: fixed;
  bottom: 76px;
  right: calc((100vw - 680px) / 2 - 20px - 48px);
}

.project-detail__nav {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 24px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  position: fixed;
  top: 188px;
  left: 20px;
  width: 280px;
}

.project-detail__nav > div {
  margin-bottom: 12px;
}

.project-detail__nav > div a {
  cursor: pointer;
  padding: 4px 20px;
  position: relative;
  display: block;
}

.project-detail__nav > div a::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  border-radius: 0 4px 4px 0;
  background-color: #f8ae00;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project-detail__nav > div a.active::before {
  opacity: 1;
}

.project-detail__nav > div a:hover {
  color: #3796a0 !important;
}

.project-detail__nav > div h2 {
  margin: 0;
}

.project-detail__nav > div h2 a {
  font-size: 20px;
  font-weight: 700;
  color: #00393f;
}

.project-detail__nav > div li a {
  padding: 8px 40px;
  color: #677779 !important;
}

.project-detail__nav > div:last-child {
  margin-bottom: 0;
}

.project-detail .btn-save {
  position: relative;
}

.project-detail .btn-save__notify {
  position: absolute;
  font-size: 12px;
  color: #6b8f95;
  margin: 0;
  top: calc(100% + 8px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.project-detail .btn-menu.active {
  background-color: #f8ae00;
}

@media screen and (max-width: 1350px) {
  .project-detail__content .editor {
    max-width: inherit;
    width: calc(100vw - (100vw - 1140px) / 2 - 280px - 60px);
    margin-right: calc((100vw - 1140px) / 2 + 20px);
  }
  .project-detail__func .toolbar {
    padding: 8px 20px;
  }
}

@media screen and (max-width: 1135px) {
  .project-detail__content .editor {
    width: calc(100vw - 280px - 60px);
    margin-right: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .project-detail__nav {
    display: none;
    top: 170px;
    z-index: 10;
  }
  .project-detail__head {
    padding-bottom: 12px;
    padding-top: 12px;
  }
  .project-detail__head .btn-save,
  .project-detail__head .btn-export {
    display: none;
  }
  .project-detail__head input {
    width: calc(100% - 68px);
  }
  .project-detail__func {
    padding-top: 0;
    padding-bottom: 30px;
    background-color: #f4fbfb;
    top: 72px;
  }
  .project-detail__func .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .project-detail__func .btn-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-detail__func-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .project-detail__func .toolbar {
    width: 100%;
    border-radius: 0;
    right: 0;
    bottom: 0;
    top: inherit;
    position: fixed;
    padding: 8px 12px;
  }
  .project-detail__func .toolbar button {
    width: 18px;
    height: 18px;
  }
  .project-detail__func .toolbar svg {
    width: 18px !important;
    height: 18px !important;
  }
  .project-detail__func .toolbar .ql-picker.ql-expanded .ql-picker-options {
    top: inherit;
    bottom: 100%;
  }
  .project-detail__content {
    padding-top: 170px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 991px) {
  .project-list__title {
    display: none;
  }
  .project-list__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 12px;
    position: relative;
  }
  .project-list__content .check {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project-list__content .project-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(100% - 20px);
    padding-left: 12px;
  }
  .project-list__content .update-time,
  .project-list__content .create-date {
    width: calc(100% - 50px);
    padding-right: 12px;
    font-size: 13px;
    color: #818181;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .project-list__content .update-time span,
  .project-list__content .create-date span {
    display: block;
    font-weight: 700;
  }
  .project-list__content .create-date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .project-list__content .update-time {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: -8px;
  }
  .project-list__content .function {
    width: 50px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .project-detail__content .editor {
    max-width: 720px;
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 20px;
}

.searchbar .select {
  width: 140px;
}

.searchbar__main {
  width: calc(100% - 140px - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  background-color: #eaf3f5;
  border-radius: 100px;
}

.searchbar__main input {
  width: calc(100% - 47px);
  padding: 0 20px;
  padding-top: 2px;
}

.searchbar__main input::-webkit-input-placeholder {
  color: #afccd1;
}

.searchbar__main input:-ms-input-placeholder {
  color: #afccd1;
}

.searchbar__main input::-ms-input-placeholder {
  color: #afccd1;
}

.searchbar__main input::placeholder {
  color: #afccd1;
}

.searchbar__main button {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar__main button span {
  font-size: 16px;
}

.searchbar__main button span::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.searchbar__main button:hover span::before {
  color: #f8ae00;
}

@media screen and (max-width: 767px) {
  .searchbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .searchbar .select {
    width: calc((100% - 20px) / 2);
  }
  .searchbar__main {
    width: 100%;
  }
}

.c-project-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.c-project-list-btn .btn-delete-project {
  display: none;
}

.create-project .row {
  margin-left: -8px;
  margin-right: -8px;
}

.create-project .row > div {
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 991px) {
  .create-project .row {
    margin: 0;
  }
  .create-project .row > div {
    padding: 0;
  }
}

.c-create-project-item {
  display: block;
  border-radius: 24px;
  padding: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}

.c-create-project-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  overflow: hidden;
}

.c-create-project-item__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.c-create-project-item h2 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-create-project-item.active {
  background-color: #eaf3f5;
  border-color: #0c6e7f;
}

.c-create-project-item.active h2 {
  font-weight: 700;
  color: #065966;
}

@media screen and (max-width: 991px) {
  .c-create-project-item {
    border-radius: 20px;
  }
  .c-create-project-item__pic {
    border-radius: 16px;
  }
  .c-create-project-item h2 {
    font-size: 16px;
  }
}

.ai-chat h1 {
  text-align: center;
  padding-bottom: 40px;
  color: #00393f;
  font-size: 24px;
  font-weight: normal;
}

.ai-chat__my {
  margin-bottom: 20px;
}

.ai-chat__my > p {
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
  border-radius: 16px 0 16px 16px;
  color: #ffffff;
  background-color: #78b7be;
  margin-bottom: 12px;
}

.ai-chat__my > textarea {
  display: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ffffff;
  border: 1px solid #78b7be;
  border-radius: 16px 0 16px 16px;
  padding: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  margin-bottom: 12px;
}

.ai-chat__my button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.ai-chat__my .btn-edit-check {
  display: none;
  background-color: #3796a0;
  padding: 8px 20px;
  border-radius: 100px;
  color: #ffffff;
  font-size: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ai-chat__my .btn-edit-check:hover {
  background-color: #f8ae00;
}

.ai-chat__my.edit > p {
  display: none;
}

.ai-chat__my.edit > textarea {
  display: block;
}

.ai-chat__my.edit .btn-edit {
  display: none;
}

.ai-chat__my.edit .btn-edit-check {
  display: block;
}

.ai-chat__reply {
  margin-bottom: 20px;
}

.ai-chat__reply > p {
  padding: 16px;
  border-radius: 0 16px 16px 16px;
  background-color: #f4f4f4;
  margin-bottom: 12px;
}

.ai-func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  padding: 16px 0;
  background-color: #ffffff;
}

.ai-func > input {
  width: calc(100% - 130px - 96px - 36px);
  border-radius: 100px;
  background-color: #eaf3f5;
  border-radius: 24px;
  min-height: 48px;
  padding: 0 16px;
}

.ai-func > input::-webkit-input-placeholder {
  color: #afccd1;
}

.ai-func > input:-ms-input-placeholder {
  color: #afccd1;
}

.ai-func > input::-ms-input-placeholder {
  color: #afccd1;
}

.ai-func > input::placeholder {
  color: #afccd1;
}

.ai-func--record {
  display: none;
}

.ai-func--record .ai-func__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 12px;
}

.ai-func--record .ai-func__inner #visualizer {
  width: calc(100% - 84px);
  height: 25px;
}

.ai-func--record .ai-func__inner .btn {
  width: 36px;
  height: 36px;
}

.ai-func .btn-upload {
  position: relative;
}

.ai-func .btn-upload input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media screen and (max-width: 767px) {
  .ai-chat h1 {
    padding-bottom: 20px;
    font-size: 20px;
  }
  .ai-chat__reply, .ai-chat__my {
    font-size: 14px;
    padding: 8px 12px;
  }
  .ai-func .btn-upload {
    width: 40px;
    height: 40px;
    padding: 0;
  }
  .ai-func .btn-upload p {
    display: none;
  }
  .ai-func input {
    width: calc(100% - 156px);
  }
}

.chat-history__item {
  margin-bottom: 16px;
  border-radius: 16px;
  padding: 16px 20px;
  border: 1px solid #d3e4e7;
  width: 100%;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chat-history__item h2 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 16px;
}

.chat-history__item p {
  margin: 0;
  font-size: 14px;
  color: #bababa;
}

.chat-history__item.active {
  background-color: #fff1d3;
  border-color: transparent;
}

.chat-history__item.active h2 {
  color: #3b2800;
}

.chat-history__item.active p {
  color: #b7a888;
}

.chat-history__item:hover {
  background-color: #fff9ed;
}

.popup-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 30;
  display: none;
}

.sidebar-project-list a {
  margin-bottom: 16px;
  display: block;
  padding: 16px 20px;
  border-radius: 16px;
  border: 1px solid #d3e4e7;
}

.sidebar-project-list a.active, .sidebar-project-list a:hover {
  background-color: #fff1d3;
  border-color: #fff1d3;
}

.btn-ai {
  position: fixed;
  top: 50%;
  right: 0;
  background-color: #f8ae00;
  padding: 12px 16px;
  border-radius: 20px 0 0 20px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.btn-ai span {
  font-size: 16px;
}

.btn-ai p {
  font-size: 16px;
  margin: 0;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  line-height: 1;
  letter-spacing: 0.1em;
}

.btn-ai:hover {
  background-color: #3796a0;
}

.download-list {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 22px 20px 120px;
}

.download-list .row {
  margin-left: -18px;
  margin-right: -18px;
  margin-bottom: 8px;
}

.download-list .row > div {
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (max-width: 767px) {
  .download-list .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .download-list .row > div {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.c-download-list-item {
  margin-bottom: 32px;
}

.c-download-list-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  overflow: hidden;
  margin-bottom: 16px;
}

.c-download-list-item__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.c-download-list-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.c-download-list-item__title h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  width: calc(100% - 36px);
  padding-right: 12px;
}

.c-download-list-item__title .btn {
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 767px) {
  .c-download-list-item__title h2 {
    width: calc(100% - 28px);
  }
  .c-download-list-item__title .btn {
    width: 28px;
    height: 28px;
  }
  .c-download-list-item__title .btn span::before {
    font-size: 20px;
  }
}

.member {
  padding-bottom: 100px;
}

.member .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.member-nav {
  width: 280px;
  background-color: #eaf3f5;
  border-radius: 32px;
  padding: 40px 32px;
}

.member-nav li {
  margin-bottom: 12px;
}

.member-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  gap: 4px;
  padding: 12px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a span {
  font-size: 20px;
}

.member-nav a span::before {
  color: #00393f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a p {
  color: #00393f;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a.active {
  background-color: #2b8b9b;
}

.member-nav a.active span::before {
  color: #ffffff;
}

.member-nav a.active p {
  color: #ffffff;
}

.member-main {
  width: calc(100% - 280px - 32px);
  padding: 40px;
  background-color: #ffffff;
  border-radius: 32px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

.member-main h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
}

.member-info .row {
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 8px;
}

.member-info .row > div {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}

.member-info .input-item {
  height: 100%;
}

.member-password {
  width: 50%;
}

.member-password .input-item {
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .member-nav {
    display: none;
  }
  .member-main {
    width: 100%;
    padding: 24px;
    border-radius: 24px;
  }
  .member-main h1 {
    font-size: 28px;
  }
  .member-info .row > div {
    margin-bottom: 16px;
  }
  .member-password {
    width: 100%;
  }
  .member-password button {
    margin: 0 auto;
  }
}

.enter-form .input-item {
  margin-bottom: 20px;
}

.enter-form .input-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.enter-form .input-checkbox label {
  display: block;
}

.enter-form .input-checkbox label a {
  display: inline-block;
  text-decoration: underline;
  color: #2b8b9b;
}

.enter-form .input-checkbox .checkbox::after {
  border-color: #c7c7c7;
}

.enter-form .input-checkbox .checkbox:checked::after {
  border-color: #f8ae00;
}

.enter-form-login .btn-forget {
  text-decoration: underline;
  color: #00393f;
  font-size: 14px;
}

.enter-form-login .btn-forget:hover {
  color: #f8ae00;
}

.enter-form-login .btn {
  margin-top: 20px;
}

.enter-form-forget p {
  margin-bottom: 20px;
}

.enter-form-signup .btn {
  margin: 24px auto 0;
}

.enter-form-signup hr {
  border: 1px solid #E4E4E4;
}

.social-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 24px 0;
}

.social-login button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #afccd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-login button img {
  width: 20px;
}

.social-login button:hover {
  background-color: #eaf3f5;
}
/*# sourceMappingURL=style.css.map */