@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Questrial&display=swap");
body {
  color: #333333;
  background-color: #f4fbfb;
  font-family: "Noto Sans TC", sans-serif;
}

@media screen and (max-width: 767px) {
  body.no-header .main {
    padding-top: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #333333;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: block;
}

a:hover {
  color: #2b8b9b;
}

button {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input,
select,
textarea,
button {
  outline: none;
  border: 0;
  border-radius: 0;
  background-color: transparent;
  color: #333333;
}

main {
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  main {
    padding-top: 0;
  }
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (max-width: 991px) {
  .container {
    max-width: inherit;
  }
}

img {
  display: block;
  max-width: 100%;
}

span {
  display: block;
}

.header {
  height: 95px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 5;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__logo {
  width: 60px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__logo > img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  border-radius: 100px;
  padding: 8px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul > li {
  position: relative;
  cursor: pointer;
}

.header__nav > ul > li::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 12px;
  background-color: #d4d4d4;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__nav > ul > li:last-child::after {
  display: none;
}

.header__nav > ul > li:hover > a {
  color: #3796a0 !important;
}

.header__nav > ul > li.has-child {
  position: relative;
}

.header__nav > ul > li.has-child > a {
  position: relative;
}

.header__nav > ul > li.has-child > a::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/chevron-down.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__nav > ul > li.has-child .header-child-list {
  position: absolute;
  min-width: 150px;
  right: 0;
  top: 100%;
  padding-top: 12px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav > ul > li.has-child .header-child-list ul {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

.header__nav > ul > li.has-child .header-child-list ul a {
  font-size: 15px;
  padding: 4px 0;
}

.header__nav > ul > li.has-child:hover .header-child-list {
  opacity: 1;
  visibility: visible;
}

.header__nav > ul > li > a {
  padding: 12px 20px;
  position: relative;
}

.header__nav > ul > li > a::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 3px;
  border-radius: 3px;
  background-color: #f8ae00;
  bottom: 3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.header__nav > ul > li > a.active {
  color: #58a2ae;
  font-weight: 700;
}

.header__nav > ul > li > a.active::after {
  opacity: 1;
}

.header.scrolldown {
  height: 66px;
  max-width: 1320px;
  width: calc(100% - 40px);
  background-color: #ffffff;
  border-radius: 100px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  top: 16px;
}

.header.scrolldown .container {
  padding-left: 40px;
  padding-right: 40px;
}

.header.scrolldown .header__logo {
  width: 50px;
}

.header.scrolldown .header__nav {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .header .container {
    max-width: inherit;
  }
}

@media screen and (max-width: 575px) {
  .header__nav {
    padding: 0 12px;
    -webkit-box-shadow: 0 5px 6px rgba(55, 150, 160, 0.1);
            box-shadow: 0 5px 6px rgba(55, 150, 160, 0.1);
  }
  .header__nav > ul > li > a {
    padding: 12px 16px;
    font-size: 14px;
  }
  .header.scrolldown .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main {
  padding-top: 95px;
  min-height: calc(100vh - 45px);
}

.select {
  padding: 0 44px 0 20px;
  background-color: #eaf3f5;
  border-radius: 100px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 16px;
  background-position: calc(100% - 20px) center;
  background-repeat: no-repeat;
  height: 47px;
}

.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #f8ae00;
  position: relative;
}

.checkbox::before, .checkbox::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox::before {
  background-image: url(../img/check.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0;
}

.checkbox::after {
  background-color: #ffffff;
  border: 1px solid #f8ae00;
  z-index: 1;
}

.checkbox:checked::before {
  opacity: 1;
}

.checkbox:checked::after {
  background-color: #f8ae00;
}

.btn {
  border-radius: 100px;
  padding: 12px 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  border: 1px solid transparent;
}

.btn span {
  font-size: 16px;
}

.btn span::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn p {
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
}

.btn-alert {
  border-color: #c62828;
}

.btn-alert span::before {
  color: #c62828;
}

.btn-alert p {
  color: #c62828;
}

.btn-alert:hover {
  background-color: #c62828;
}

.btn-alert:hover span::before {
  color: #ffffff;
}

.btn-alert:hover p {
  color: #ffffff;
}

.btn-bg-yellow {
  background-color: #f8ae00;
}

.btn-bg-yellow span::before {
  color: #ffffff;
}

.btn-bg-yellow p {
  color: #ffffff;
}

.btn-bg-yellow:hover {
  border-color: #f8ae00;
  background-color: #ffffff;
}

.btn-bg-yellow:hover span::before {
  color: #f8ae00;
}

.btn-bg-yellow:hover p {
  color: #f8ae00;
}

.btn-bg-primary {
  background-color: #3796a0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-primary span::before {
  color: #ffffff;
}

.btn-bg-primary p {
  color: #ffffff;
}

.btn-bg-primary:hover {
  border-color: #3796a0;
  background-color: #ffffff;
}

.btn-bg-primary:hover span::before {
  color: #3796a0;
}

.btn-bg-primary:hover p {
  color: #3796a0;
}

.btn-primary-only-text {
  padding: 12px 24px 10px;
  color: #ffffff;
  background-color: #3796a0;
}

.btn-primary-only-text:hover {
  border-color: #3796a0;
  color: #3796a0;
  background-color: #ffffff;
}

.btn-sm {
  padding: 6px 12px;
  border-radius: 10px;
  font-size: 12px;
  border: 1px solid #3796a0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #3796a0;
}

.btn-sm:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-upload {
  position: relative;
}

.btn-upload input[type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.btn-bg-lightblue-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #ddeff2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-lightblue-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-bg-lightblue-only-icon span::before {
  color: #1b8e9a;
}

.btn-bg-lightblue-only-icon:hover {
  background-color: #3796a0;
}

.btn-bg-lightblue-only-icon:hover span::before {
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .btn-bg-lightblue-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-bg-lightblue-only-icon span {
    font-size: 20px;
  }
}

.btn-bg-yellow-only-icon {
  width: 48px;
  height: 48px;
  padding: 0;
  border-radius: 50%;
  background-color: #f8ae00;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-yellow-only-icon span {
  font-size: 24px;
  -webkit-transform: none;
          transform: none;
}

.btn-bg-yellow-only-icon span::before {
  color: #ffffff;
}

.btn-bg-yellow-only-icon:hover {
  background-color: #ffffff;
  border-color: #f8ae00;
}

.btn-bg-yellow-only-icon:hover span::before {
  color: #f8ae00;
}

@media screen and (max-width: 575px) {
  .btn-bg-yellow-only-icon {
    width: 40px;
    height: 40px;
  }
  .btn-bg-yellow-only-icon span {
    font-size: 20px;
  }
}

.btn-bg-yellow-only-text {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #f8ae00;
  color: #ffffff;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-yellow-only-text:hover {
  background-color: #ffffff;
  border-color: #f8ae00;
  color: #f8ae00;
}

.btn-bg-primary-only-text {
  padding: 12px 28px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  border-radius: 100px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-bg-primary-only-text:hover {
  background-color: #ffffff;
  border-color: #3796a0;
  color: #3796a0;
}

.btn-bg-primary-fill {
  width: 100%;
  padding: 12px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-primary-fill:hover {
  border-color: #3796a0;
  background-color: transparent;
  color: #3796a0;
}

.btn-border-primary-fill {
  width: 100%;
  padding: 12px;
  border-radius: 100px;
  border-color: #3796a0;
  color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary-fill:hover {
  background-color: #3796a0;
  color: #ffffff;
}

.btn-bg-primary-big {
  width: 250px;
  padding: 12px;
  border-radius: 100px;
  background-color: #3796a0;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-bg-primary-big:hover {
  border-color: #3796a0;
  background-color: transparent;
  color: #3796a0;
}

.btn-border-primary-big {
  width: 250px;
  padding: 12px;
  border-radius: 100px;
  border-color: #3796a0;
  color: #3796a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-border-primary-big:hover {
  background-color: #3796a0;
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .btn {
    padding: 10px 16px;
  }
  .btn span {
    font-size: 15px;
  }
  .btn p {
    font-size: 15px;
  }
  .btn-sm {
    padding: 4px 10px;
  }
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #afccd1;
  background-color: #ffffff;
  font-size: 14px;
  font-family: "Questrial", sans-serif;
}

.pagination a:hover {
  background-color: #afccd1;
  color: #ffffff;
}

.pagination a.active {
  background-color: #3796a0;
  border-color: #3796a0;
  color: #ffffff;
}

.pagination__arrow span {
  font-size: 16px;
}

.pagination__arrow span::before {
  color: #3796a0;
}

.pagination__arrow:hover {
  background-color: #afccd1;
}

.pagination__arrow:hover span::before {
  color: #ffffff;
}

@media screen and (max-width: 575px) {
  .pagination {
    gap: 10px;
  }
  .pagination a {
    width: 36px;
    height: 36px;
  }
}

.footer {
  width: 100%;
  padding: 12px;
  background-color: #3796a0;
}

.footer p {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
}

.modal-dialog {
  margin-top: 100px;
}

.modal-dialog.modal-sm {
  max-width: 370px;
}

.modal-dialog.modal-lg {
  max-width: 920px;
}

.modal-dialog-scrollable .modal-body {
  height: calc(100vh - 200px - 80px - 84px - 80px);
}

.modal-content {
  border: 0;
  border-radius: 24px;
  padding: 40px;
}

.modal-body {
  padding: 0 0 36px;
  text-align: center;
}

.modal-body p {
  margin: 0;
}

.modal-body.create-project {
  padding: 24px 32px 32px;
  border-radius: 24px 24px 0 0;
  background-color: #f4fbfb;
}

.modal-footer {
  border: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.modal-footer button {
  margin: 0;
}

.modal-footer.create-project {
  padding: 8px 32px 24px;
  border-radius: 0 0 24px 24px;
  background-color: #f4fbfb;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 30px;
  border: 0;
}

.modal-title {
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.inner-title {
  padding: 12px 0;
}

.inner-title .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.inner-title .container h1 {
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  color: #00393f;
}

.input-item {
  padding: 12px 20px;
  border-radius: 16px;
  background-color: #eaf3f5;
}

.input-item label {
  font-size: 12px;
  margin-bottom: 4px;
  color: #00393f;
}

.input-item input,
.input-item select {
  width: 100%;
  padding: 0;
}

.input-item input::-webkit-input-placeholder,
.input-item select::-webkit-input-placeholder {
  color: #bdcdd0;
}

.input-item input:-ms-input-placeholder,
.input-item select:-ms-input-placeholder {
  color: #bdcdd0;
}

.input-item input::-ms-input-placeholder,
.input-item select::-ms-input-placeholder {
  color: #bdcdd0;
}

.input-item input::placeholder,
.input-item select::placeholder {
  color: #bdcdd0;
}

.input-item select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/chevron-down.svg);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: right center;
}

.input-item.verify .verify__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-item.verify .verify__input button {
  padding: 8px 16px;
  background-color: #58a2ae;
  color: #ffffff;
  border-radius: 12px;
  font-size: 14px;
}

.input-item.verify .verify__input button:hover {
  background-color: #f8ae00;
}

.input-item.verify .verify__input input {
  width: calc(100% - 102px);
}

@media screen and (max-width: 991px) {
  .input-item {
    padding: 8px 16px;
    border-radius: 12px;
  }
}

.term {
  color: #4c4c4c;
}

.term p {
  line-height: 1.8;
  text-align: justify;
}

@media screen and (max-width: 767px) {
  .term p {
    font-size: 15px;
  }
}

.enter-container {
  background-color: #ffffff;
  padding: 40px 60px;
  border-radius: 32px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  margin: 0 auto 150px;
  width: calc(100% - 40px);
}

.enter-container--sm {
  max-width: 540px;
}

.enter-container--lg {
  max-width: 840px;
}

.enter-container__logo {
  width: 100px;
  display: block;
  margin: 0 auto 20px;
}

.enter-container h1 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e4e4e4;
}

@media screen and (max-width: 575px) {
  .enter-container {
    padding: 30px 20px;
  }
  .enter-container__logo {
    width: 80px;
    margin-bottom: 12px;
  }
  .enter-container h1 {
    font-size: 28px;
  }
}

.notify {
  margin: 50px auto 0;
}

.notify img {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.notify p {
  text-align: center;
  font-size: 20px;
  margin-bottom: 32px;
}

.notify .btn {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .notify img {
    width: 200px;
  }
  .notify p {
    font-size: 16px;
  }
}

.project-list {
  padding-top: 20px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 120px;
}

.project-list__btns {
  padding: 12px 20px;
}

.project-list__main {
  padding: 12px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;
}

.project-list__title, .project-list__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 20px;
  border-radius: 20px;
  gap: 16px;
}

.project-list__title .check, .project-list__content .check {
  width: 20px;
}

.project-list__title .check .checkbox, .project-list__content .check .checkbox {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.project-list__title .create-date, .project-list__title .update-time, .project-list__content .create-date, .project-list__content .update-time {
  width: 150px;
}

.project-list__title .project-name, .project-list__content .project-name {
  width: calc(100% - 20px - 300px - 130px - 64px);
}

.project-list__title .function, .project-list__content .function {
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-list__title p, .project-list__content p {
  margin: 0;
}

.project-list__title p span, .project-list__content p span {
  display: none;
}

.project-list__title {
  background-color: #3796a0;
  color: #ffffff;
  font-weight: 700;
}

.project-list__content {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

@media screen and (max-width: 991px) {
  .project-list__title {
    display: none;
  }
  .project-list__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 12px;
    position: relative;
  }
  .project-list__content .check {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .project-list__content .project-name {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: calc(100% - 20px);
    padding-left: 12px;
  }
  .project-list__content .update-time, .project-list__content .create-date {
    width: calc(100% - 50px);
    padding-right: 12px;
    font-size: 13px;
    color: #818181;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
  }
  .project-list__content .update-time span, .project-list__content .create-date span {
    display: block;
    font-weight: 700;
  }
  .project-list__content .create-date {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .project-list__content .update-time {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin-top: -8px;
  }
  .project-list__content .function {
    width: 50px;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  gap: 20px;
}

.searchbar .select {
  width: 140px;
}

.searchbar__main {
  width: calc(100% - 140px - 40px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  background-color: #eaf3f5;
  border-radius: 100px;
}

.searchbar__main input {
  width: calc(100% - 47px);
  padding: 0 20px;
  padding-top: 2px;
}

.searchbar__main input::-webkit-input-placeholder {
  color: #afccd1;
}

.searchbar__main input:-ms-input-placeholder {
  color: #afccd1;
}

.searchbar__main input::-ms-input-placeholder {
  color: #afccd1;
}

.searchbar__main input::placeholder {
  color: #afccd1;
}

.searchbar__main button {
  width: 47px;
  height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar__main button span {
  font-size: 16px;
}

.searchbar__main button span::before {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.searchbar__main button:hover span::before {
  color: #f8ae00;
}

@media screen and (max-width: 767px) {
  .searchbar {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .searchbar .select {
    width: calc((100% - 20px) / 2);
  }
  .searchbar__main {
    width: 100%;
  }
}

.c-project-list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.c-project-list-btn .btn-delete-project {
  display: none;
}

.create-project .row {
  margin-left: -8px;
  margin-right: -8px;
}

.create-project .row > div {
  padding-left: 8px;
  padding-right: 8px;
}

.c-create-project-item {
  display: block;
  border-radius: 24px;
  padding: 12px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid transparent;
  cursor: pointer;
}

.c-create-project-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  overflow: hidden;
}

.c-create-project-item__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.c-create-project-item h2 {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 0;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-create-project-item.active {
  background-color: #eaf3f5;
  border-color: #0c6e7f;
}

.c-create-project-item.active h2 {
  font-weight: 700;
  color: #065966;
}

.download-list {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  padding: 22px 20px 120px;
}

.download-list .row {
  margin-left: -18px;
  margin-right: -18px;
  margin-bottom: 8px;
}

.download-list .row > div {
  padding-left: 18px;
  padding-right: 18px;
}

@media screen and (max-width: 767px) {
  .download-list .row {
    margin-left: -8px;
    margin-right: -8px;
  }
  .download-list .row > div {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.c-download-list-item {
  margin-bottom: 32px;
}

.c-download-list-item__pic {
  position: relative;
  width: 100%;
  padding-bottom: 70%;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
  overflow: hidden;
  margin-bottom: 16px;
}

.c-download-list-item__pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.c-download-list-item__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

.c-download-list-item__title h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 500;
  width: calc(100% - 36px);
  padding-right: 12px;
}

.c-download-list-item__title .btn {
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 767px) {
  .c-download-list-item__title h2 {
    width: calc(100% - 28px);
  }
  .c-download-list-item__title .btn {
    width: 28px;
    height: 28px;
  }
  .c-download-list-item__title .btn span::before {
    font-size: 20px;
  }
}

.member {
  padding-bottom: 100px;
}

.member .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}

.member-nav {
  width: 280px;
  background-color: #eaf3f5;
  border-radius: 32px;
  padding: 40px 32px;
}

.member-nav li {
  margin-bottom: 12px;
}

.member-nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  gap: 4px;
  padding: 12px 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a span {
  font-size: 20px;
}

.member-nav a span::before {
  color: #00393f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a p {
  color: #00393f;
  margin: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.member-nav a.active {
  background-color: #2b8b9b;
}

.member-nav a.active span::before {
  color: #ffffff;
}

.member-nav a.active p {
  color: #ffffff;
}

.member-main {
  width: calc(100% - 280px - 32px);
  padding: 40px;
  background-color: #ffffff;
  border-radius: 32px;
  -webkit-box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
          box-shadow: 0 10px 12px rgba(55, 150, 160, 0.1);
}

.member-main h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 32px;
}

.member-info .row {
  margin-left: -12px;
  margin-right: -12px;
  padding-bottom: 8px;
}

.member-info .row > div {
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 24px;
}

.member-info .input-item {
  height: 100%;
}

.member-password {
  width: 50%;
}

.member-password .input-item {
  margin-bottom: 24px;
}

@media screen and (max-width: 991px) {
  .member-nav {
    display: none;
  }
  .member-main {
    width: 100%;
    padding: 24px;
    border-radius: 24px;
  }
  .member-main h1 {
    font-size: 28px;
  }
  .member-info .row > div {
    margin-bottom: 16px;
  }
  .member-password {
    width: 100%;
  }
  .member-password button {
    margin: 0 auto;
  }
}

.enter-form .input-item {
  margin-bottom: 20px;
}

.enter-form .input-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.enter-form .input-checkbox label {
  display: block;
}

.enter-form .input-checkbox label a {
  display: inline-block;
  text-decoration: underline;
  color: #2b8b9b;
}

.enter-form .input-checkbox .checkbox::after {
  border-color: #c7c7c7;
}

.enter-form .input-checkbox .checkbox:checked::after {
  border-color: #f8ae00;
}

.enter-form-login .btn-forget {
  text-decoration: underline;
  color: #00393f;
  font-size: 14px;
}

.enter-form-login .btn-forget:hover {
  color: #f8ae00;
}

.enter-form-login .btn {
  margin-top: 20px;
}

.enter-form-forget p {
  margin-bottom: 20px;
}

.enter-form-signup .btn {
  margin: 24px auto 0;
}

.enter-form-signup hr {
  border: 1px solid #E4E4E4;
}

.social-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 24px 0;
}

.social-login button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #afccd1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-login button img {
  width: 20px;
}

.social-login button:hover {
  background-color: #eaf3f5;
}
/*# sourceMappingURL=style.css.map */